<div class="btn-group input-group" role="group">
  <!-- Notes start -->
  <label
    *ngFor="let noteLetter of noteLetters"
    class="btn btn-primary"
    [class.note-selected]="selectedNote === noteLetter"
  >
    {{ noteLetter }}
    <input
      type="radio"
      (click)="onNoteLetterClicked(noteLetter)"
      [value]="noteLetter"
      class="btn-check"
    />
  </label>
  <!-- Noted end -->

  <!-- Acc start -->
  <label
    class="btn btn-secondary"
    *ngFor="let acc of accidentals"
    [class.acc-selected]="acc.value === selectedAccidental"
  >
    {{ acc.label }}
    <input
      type="radio"
      class="btn-check"
      (click)="onAccidentalClicked(acc.value)"
    />
  </label>
  <!-- Acc end -->

  <!-- Octave start -->
  <select
    class="form-select"
    [(ngModel)]="selectedOctave"
    (change)="onOctaveValueChanged()"
  >
    <option *ngFor="let octave of octaves" [value]="octave">
      {{ octave }}
    </option>
  </select>
  <!-- Octave end -->
</div>
